@font-face {
    font-family: "CantoraOne";
    src: url("../cantoraone-regular.woff2") format('woff2'), 
         url("../cantoraone-regular.woff") format('woff'); 
}
*{
    font-family: CantoraOne;
}

.bg-image {
    background-image: url("../background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.header-footer{
    background-color: lightgray
}

.map {
    width: 100%;
    height: 400px;
}

