@page "/"
@{
    Layout = "../Shared/MainLayout";
}
@using Microsoft.AspNetCore.Components.Web
@namespace projet_rando_web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<main>
    <h2>Bienvenue chez Randomax!</h2>
    <div class="container">
        <div class="row-cols-2 text-center mt-5">
            <img src="construction.jpg" />
        </div>
    </div>
</main>
