@page "/"
@{
    Layout = "../Shared/MainLayout";
}
@using Microsoft.AspNetCore.Components.Web
@namespace projet_rando_web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<main class="bg-black">

      <h2>Bienvenue chez Randomax!</h2>
  


</main>
