@page "/connexion"
@layout MainLayout
@inject Interfaces.IUtilisateur utilisateurService
@inject AuthenticationStateProvider authStateProvider
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager

<PageTitle>Se Connecter</PageTitle>

<main class="main-content">
    <h2 class="main-title text-center mt-4">Connection</h2>

    @*     <div class="d-flex justify-content-center align-items-center">
    <div class="map-container w-75 p-3">
    <MapView Longitude="_longitude" Latitude="_latitude" Zoom="11" Style="height: 400px; width: 100%;">
    <WebMap>
    <PortalItem Id="4a6cb60ebbe3483a805999d481c2daa5" />
    </WebMap>
    </MapView>
    </div>
    </div> *@


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="login-card card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Se Connecter</h2>
                        <EditForm Model="@user" OnValidSubmit="SeConnecter">
                            <DataAnnotationsValidator />
                            <div class="mb-3">
                                <label for="courriel" class="form-label">Courriel</label>
                                <InputText id="courriel" class="form-control" @bind-Value="user.Courriel" />
                                <ValidationMessage For="@(() => user.Courriel)" />
                            </div>
                            <div class="mb-3">
                                <label for="mdp" class="form-label">Mot de Passe</label>
                                <InputText id="mdp" type="password" class="form-control" @bind-Value="user.MotDePasse" />
                                <ValidationMessage For="@(() => user.MotDePasse)" />
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-outline-dark">Se Connecter</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<style>
    body {
        background-image: url('tamara-schipchinskaya-7a7vjbap0uw-unsplash.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        height: 100%;
        margin: 0;
    }

    .login-card {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }

    .main-title {
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

</style>

