@page "/detail/{id}"
@using projet_rando_web.Classes
@inject projet_rando_web.Interfaces.IRandonnee randonneeService

<main>
    <div class="container mt-5">
        @if (randonnee != null)
        {
            <div class="container mt-5">
                <h5>@randonnee.Nom</h5>
                <p>Ville de départ : @randonnee.VilleDepart.Nom</p>
                @if (randonnee.VilleRetour != null)
                {
                    <p> Ville de départ : @randonnee.VilleRetour.Nom</p>
                }

                <p>Description : @randonnee.Description</p>
            </div>
        }
        else
        {
            <p>Désolé, cette randonnée n'existe pas.</p>
        }
    </div>
</main>