@page "/"
@{
    double _latitude = 34.027;
    double _longitude = -118.805;
}

<main class="bg-black">
    <MapView Longitude="_longitude" Latitude="_latitude" Zoom="11" Style="height: 400px; width: 100%;">
        <WebMap>
            <PortalItem Id="4a6cb60ebbe3483a805999d481c2daa5" />
        </WebMap>
    </MapView>
    <div class="container mt-4 mb-4 text-light">
        <h2 class="mb-4 text-center border-top border-bottom border-2">Explorez, Partagez, Connectez - Votre Aventure Commence avec Randomax !</h2>
        <p>
            Bienvenue sur Randomax, votre destination virtuelle pour l'exploration du monde en plein air. Si vous êtes passionné par la randonnée, la nature et les voyages, vous êtes au bon endroit. Notre mission est de vous connecter avec des amateurs d'aventure du monde entier, de vous aider à découvrir de nouveaux sentiers et de vous inspirer à créer des souvenirs inoubliables.
        </p>
        <p>
            Sur Randomax, vous trouverez une vaste collection de trajets de randonnée, partagés par des explorateurs comme vous. Que vous soyez un débutant curieux ou un expert chevronné, nos itinéraires sont adaptés à tous les niveaux de compétence. Vous pouvez également créer et partager vos propres aventures, en incluant des photos, des descriptions détaillées et des conseils pour guider d'autres passionnés.
        </p>
        <p>
            La communauté Randomax est un lieu où les aventuriers se rencontrent, partagent des conseils et organisent des randonnées en groupe. Nous croyons que les meilleures aventures sont celles partagées, c'est pourquoi nous vous encourageons à rejoindre notre communauté dynamique et à élargir votre cercle d'amis de randonnée.
        </p>
        <p>
            Rejoignez-nous dès aujourd'hui pour commencer votre prochaine aventure. Que vous cherchiez des itinéraires locaux ou des destinations lointaines, Randomax est là pour vous guider. Préparez-vous à marcher dans les pas de ceux qui sont allés avant vous et à créer vos propres traces.
        </p>
        <p>
            Randomax - L'aventure commence ici.
        </p>
    </div>
</main>
