@page "/"
@inject projet_rando_web.Interfaces.IRandonnee randonneeService

<main>
    <div class="container pt-3"> 
        <div class="div-rend bg-dark container-fluid p-5 mb-5 mt-2">
            <h2 class="text-light text-center border-top border-bottom border-2">Explorez, Partagez, Connectez - Votre Aventure Commence avec Randomax !</h2>
            <div class="container mt-5 text-light">
                <p>
                    Bienvenue sur Randomax, votre destination virtuelle pour l'exploration du monde en plein air. Si vous êtes passionné par la randonnée, la nature et les voyages, vous êtes au bon endroit. Notre mission est de vous connecter avec des amateurs d'aventure du monde entier, de vous aider à découvrir de nouveaux sentiers et de vous inspirer à créer des souvenirs inoubliables.
                </p>
                <p>
                    Sur Randomax, vous trouverez une vaste collection de trajets de randonnée, partagés par des explorateurs comme vous. Que vous soyez un débutant curieux ou un expert chevronné, nos itinéraires sont adaptés à tous les niveaux de compétence. Vous pouvez également créer et partager vos propres aventures, en incluant des photos, des descriptions détaillées et des conseils pour guider d'autres passionnés.
                </p>
                <p>
                    La communauté Randomax est un lieu où les aventuriers se rencontrent, partagent des conseils et organisent des randonnées en groupe. Nous croyons que les meilleures aventures sont celles partagées, c'est pourquoi nous vous encourageons à rejoindre notre communauté dynamique et à élargir votre cercle d'amis de randonnée.
                </p>
                <p>
                    Rejoignez-nous dès aujourd'hui pour commencer votre prochaine aventure. Que vous cherchiez des itinéraires locaux ou des destinations lointaines, Randomax est là pour vous guider. Préparez-vous à marcher dans les pas de ceux qui sont allés avant vous et à créer vos propres traces.
                </p>
                <p>
                    Randomax - L'aventure commence ici.
                </p>
            </div>
        </div>
    </div>
    <div class="bg-image pt-4 pb-3">
        <div class="container bg-dark rounded-3 p-4 text-center text-light">
            <h3 class="mb-4">La carte de nos randonnées</h3>
            <MapView @ref="mapView" OnViewInitialized="OnViewInitialized" Center="new Point(-20, 50)" Zoom="2" Style="height: 400px; width: 100%; justify-content:center;" Class="border-4 border mb-3" GraphicSerializationChunkSize="grosseurChunk">
                <WebMap>
                    <PortalItem Id="e409ec0a5ef94d5cb486571894143b7c" />
                </WebMap>
                <ScaleBarWidget Position="OverlayPosition.BottomLeft" />
            </MapView>
            <p>Prêt à partager votre aventure ? Inscrivez-vous et créez votre propre itinéraire de randonnée depuis votre compte. Partagez vos découvertes avec notre communauté de passionnés et inspirez d'autres explorateurs. Rejoignez-nous aujourd'hui pour façonner ensemble le monde des aventures en plein air !</p>
        </div>
    </div>
</main>

<style>
    body {
        background-image: url('accueil.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        height: 100%;
        margin: 0;
    }
</style>




