@page "/mes_randonnes"
@using projet_rando_web.Classes
@using projet_rando_web.Enums
<h3>MesRandonnes</h3>
<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <span class="text-nowrap">
        Avez-vous créé une randonné ? Si non <a href="#">Créer en!</a>
    </span>
</div>



@code {


}
