@page "/randonnees"
@using projet_rando_web.Classes
@using System.Collections.Generic
@using System.Linq
@inject projet_rando_web.Interfaces.IRandonnee randonneeService

<main>
    <div class="container mt-5">
        @if (_randonnees != null)
        {

            <div class="container mt-5">
                <div class="row">
                    @foreach (var randonnee in _randonnees)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="https://picsum.photos/@randonnee.Id" class="card-img-top" alt="Image de la randonnée">
                                <div class="card-body">
                                    <h5 class="card-title">@randonnee.Nom</h5>
                                    <p>Ville de départ : @randonnee.VilleDepart.Nom</p>
                                    @if (randonnee.VilleRetour != null)
                                    {
                                        <p>Ville de retour : @randonnee.VilleRetour.Nom</p>
                                    }
                                    <a href="/detail/@randonnee.Id" class="btn btn-primary">Détails</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <p>Créez une nouvelle randonnée !</p>
        }
    </div>

</main>